* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
font-size: 16px;
font-weight: 400;
font-family: 'Open Sans', sans-serif;
}

.customNav {
    background: url("images/robonav.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 150px;  
    /* padding-top: 36px;
    padding-left: 30px;  */
  }
  
  .customNavItems a {
    display: inline;
    color: red;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .customNavItems a:hover {
    text-decoration: none;
    opacity: .7;
  }
  
  .customNavItems li {
    display: inline;
  }

.logo {
  background: url("images/robologo.jpg");
  height: 100px;
  width: auto;
  padding: 20px 0 0 30px;
}