* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
font-size: 20px;
font-weight: 400;
font-family: 'Open Sans', sans-serif;
}

/* Entire Site */

.body-site {
  background-image: url("./images/dooombg.jpg") !important;
  /* background-size: 1920px 1080px !important; */
  background-repeat: no-repeat !important;
  -webkit-bacckground-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* navbar */

.customNav {
    background-size: cover;
    background-color: white;
    height: 150px;  
    /* padding-top: 36px;
    padding-left: 30px;  */
    background-color: white
  }
  
  .customNavItems a {
    display: inline;
    color: rgb(19, 84, 114);
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.8);
  }
  
  .customNavItems a:hover {
    text-decoration: none;
    opacity: .7;
  }
  
  .customNavItems li {
    display: inline;
  }

  /* logo */
.logo {
  height: 100px;
  width: auto;
  margin: 20px 0 0 30px;
}

/* Footer */

 .footer {
  margin-top: 100px;
  color: #fff
}

 /* Login */
 .logincontainer {
  max-width: 400px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
  margin-top: 2px;
}

.card-header {
max-width: 400px;
padding: .75rem 1.25rem;
margin: 0 auto;
margin-bottom: 0;
background-color: rgba(0,0,0,.03);
border-bottom: 1px solid rgba(0,0,0,.125);
border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.login-title {
  max-width: 390px;
}

.card-body {
max-width: 400px;
margin: 0 auto;
flex: 1 1 auto;
padding: 1.25rem;
}

.about {
  color: white;
}

.video {
  margin: 50px 0 0 0;
  padding: 0;
}

.moreBots {
  color: white;
  text-decoration: size 50px;
  text-align: center;
}

.orderTxt {
  color: red;
}

.overlay {
  background: rgba(0, 0, 0, .5);
  height: 1080px;
}

.customerInfo {
  font-size: 16px;
  margin-bottom: 100px;
}

.orderTxt {
  font-size: 16px;
  color: white;
}

.toDate {
  padding: 100px 0 0 0;
}

.heading {
 margin: 0 auto;
 padding: 20px 0 0 0;
 margin: 0 35% 0 35%;
 font-size: 50px;
 color: rgb(43, 124, 158);
 letter-spacing: .15em;
 font-weight: bold;
 
 text-shadow: 
   -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray,
   1px -1px 0 #767676, 
   -1px 2px 1px #737272, 
   -2px 4px 1px #767474, 
   -3px 6px 1px #787777, 
   -4px 8px 1px #7b7a7a, 
   -5px 10px 1px #7f7d7d, 
   -6px 12px 1px #828181, 
   -7px 14px 1px #868585, 
   -8px 16px 1px #8b8a89, 
   -9px 18px 1px #8f8e8d, 
   -10px 20px 1px #949392, 
   -11px 22px 1px #999897, 
   -12px 24px 1px #9e9c9c;

}

.content{
  padding: 0 400px;
  padding-top: 50px;
}

/* Create Page */
.input-group {
  margin-bottom: 50px;
} 
/* store */

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer;
}