<!DOCTYPE html>
<html lang='en' ng-app="doomBotApp">

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='Content goes here'>
    <title>DooomBot</title>

    <!-- Google Font - Open Sans -->
    <link async rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i'
    />

    <!-- Bootstrap CDN 3.3.7 -->
    <link async rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'
    />

    <!-- Custom CSS -->
    <link rel='stylesheet' href='./css/styles.css'>

    <!-- Angular CDN 1.5.7 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js'></script>

    <!-- Angular UI Router CDN 0.4.2 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js'></script>

    <!-- jQuery CDN 3.2.1 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

</head>

<body class="body-site">
    <div class="customNav">
        <!-- fix logo location and extra white space -->
                    <img class="logo pull-left" src="css/images/robologo.png">
        <ul class="customNavItems navbar-right">

            <li>
                <a ui-sref="app.home">Home</a>
            </li>
            <li>
                <!-- ng-if="currentUser != undefined" -->
                <a  ui-sref="orderList">Order List</a>
            </li>
            <li>
                <!-- ng-if="currentUser != undefined" -->
                <a  ui-sref="checkOrders">Check Orders</a>
            </li>
            <li>
                <!-- must add error for if admin is not logged in user is unable to navigate pages -->
                <a ng-if="currentUser == undefined" ui-sref="app.login">Login</a>
            </li>
        </ul>
    </div>

<!-- move video below about me and try to line it up with the list of parts -->
    <div class="container">        
        <div class="col-md-8 pull-left">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aKCieb-Gf2g?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

<!-- stretch about me accross the top of the pages -->
        <div class="col-md-4 pull-right">
            <h2><strong>About our Company</strong></h2>
            <p><strong>NEEDS TO BE RE WORDED</strong> has accelerated co-creation between companies and has helped create new value. But in order to leverage the
                full potential of IoT, data processing must go beyond cyberspace. New and innovative services in the real
                world will depend on our ability to combine data with physical operations. That’s why robotics will play
                such a crucial role moving forward, as they become our bridge between the real and virtual worlds.</p>
            <p>At Hitachi, we’ve developed a wide range of robots for various applications by leveraging our expertise in operational
                technologies (OT). But we’re not developing technologies without reason. We’re implementing social innovation.
                By integrating robots with IoT platforms, and using that technology in social infrastructures, we’re actively
                promoting initiatives to improve people’s lives.</p>
            <h3>
                <strong>placeholder bot 1</strong>
            </h3>
            <ul class="botPart">
                <h4> Bot parts list</h4>
                <ul>
                    <li>wheel x2</li>
                    <li>wheel mount x2</li>
                    <li>sides x2</li>
                    <li>top x1</li>
                    <li>bottom x1</li>
                    <li>respberry pi 3 b chip x1</li>
                    <li>servos x2</li>
                    <li>ballbearring x1</li>
                    <li>10 pack of long screws x1</li>
                    <li>12 pack of medium screws x1</li>
                    <li>4 pack of short screws x1</li>
                    <li>red wires m/f x3</li>
                    <li>black wires m/f x3</li>
                    <li>white wires m/f x3</li>
                    <li>small fan x1</li>
                    <li>plastic chip case x1</li>
                </ul>
            </ul>
        </div>
    </div>

    <!-- Footer -->

  <!-- <footer class="fixed-bottom footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright 2017 © DooomBot, Inc.</small>
        </div>
    </div>
  </footer> -->


<!-- fix why links are not navigating you through the pages -->
    <div ui-view></div>
    <!-- Module -->
    <script type="text/javascript" src="./app.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="./controllers/orderListController.js"></script>
    <script type="text/javascript" src="./controllers/indexController.js"></script>
    <script type="text/javascript" src="./controllers/checkOrdersController.js"></script>
    <script type="text/javascript" src="./controllers/adminController.js"></script>
    <script type="text/javascript" src="./controllers/loginController.js"></script>

    <!-- Services -->
    <script type="text/javascript" src="./services/orderListService.js"></script>
    <script type="text/javascript" src="./services/checkOrderService.js"></script>
    <script type="text/javascript" src="./services/adminService.js"></script>

</body>

</html>