<!DOCTYPE html>
<html lang='en' ng-app="doomBotApp">

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='Content goes here'>
    <title>DooomBot</title>

    <!-- Google Font - Open Sans -->
    <link async rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i'
    />

    <!-- Bootstrap CDN 3.3.7 -->
    <link async rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'
    />

    <!-- Custom CSS -->
    <link rel='stylesheet' href='./css/styles.css'>

    <!-- Angular CDN 1.5.7 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js'></script>

    <!-- Angular UI Router CDN 0.4.2 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js'></script>

    <!-- jQuery CDN 3.2.1 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

</head>

<body class="body-site">
    <div class="customNav">
        <!-- fix logo location and extra white space -->
        <img class="logo pull-left" src="css/images/robologo.png">
        <ul class="customNavItems navbar-right">
            <li>
                <a ui-sref="app.about">About</a>
            </li>
            <li>
                <!-- ng-if="currentUser != undefined" -->
                <a ui-sref="app.orderList">Order List</a>
            </li>
            <li>
                <!-- ng-if="currentUser != undefined" -->
                <a ui-sref="app.checkOrder">Check Orders</a>
            </li>
            <li>
                <a ng-if="currentUser != undefined" ui-sref="app.account">Account</a>
            </li>
            <li>
                <!-- must add error for if admin is not logged in user is unable to navigate pages -->
                <a ng-if="currentUser == undefined" ui-sref="app.login">Login</a>
            </li>
        </ul>
    </div>

    <div ui-view></div>

    <!-- Footer -->
    <footer class="fixed-bottom footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright 2017 © DooomBot, Inc.</small>
            </div>
        </div>
    </footer>


    <!-- fix why links are not navigating you through the pages -->
  
    <!-- Module -->
    <script type="text/javascript" src="./app.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="./controllers/salesController.js"></script>
    <script type="text/javascript" src="./controllers/indexController.js"></script>
    <script type="text/javascript" src="./controllers/checkOrderController.js"></script>
    <script type="text/javascript" src="./controllers/navbarController.js"></script>
    <script type="text/javascript" src="./controllers/loginController.js"></script>
    <script type="text/javascript" src="./controllers/accountController.js"></script>

    <!-- Services -->
    <script type="text/javascript" src="./services/salesService.js"></script>
    <script type="text/javascript" src="./services/checkOrderService.js"></script>
    <script type="text/javascript" src="./services/adminService.js"></script>
    <script type="text/javascript" src="./services/userService.js"></script>

    <!--Components -->
  <!-- <script type="text/javascript" src="./components/navbar/navbar.js"></script> -->

</body>

</html>