<div class="content container-fluid overlay">
    <div class="about col-md-12">
        <h2 style="text-align: center">
            <strong>About our Company</strong>
        </h2>
        <p>
            Doombot has helped create new value with robot human interface. But in order to leverage the full potential of Doombot, data
            processing must go beyond cyberspace. New and innovative services in the real world will depend on our ability
            to combine data with physical operations. That’s why robotics will play such a crucial role moving forward, as
            they become our bridge between the real and virtual worlds.
        </p>
        <p>At Doombot, we’ve developed robots for various applications by leveraging our expertise in operational technologies
            (OT). But we’re not developing technologies without reason. We’re implementing social innovation. By integrating
            robots and using that technology in social infrastructures, we’re actively promoting initiatives to improve people’s
            lives. Welcome to Doombot!
        </p>
    </div>
    
</div>

