<h1 class="text-center adminHero">Admin Page</h1>
 <h2>update your info</h2>
<div class="form-group">   
    <h3>User Name</h3>
    <input class="col-md-3" type="text" placeholder="User Name">
    <h3>Password</h3>
    <input  class="col-md-3" type="text" placeholder="Password">
    <h3>Confirm Password</h3>
    <input type="text" class="col-md-3" placeholder="Confirm Password">
</div>

<div class="form-group">
    <h3>First Name</h3>
    <input type="text" class="col-md-3" placeholder="First Name">
    <h3>Last Name</h3>
    <input type="text" class="col-md-3" placeholder="Last Name">
</div>