<!-- need to make another almost identicle order page that will show all the orders for this particular customer/ or use this page and make a second
page that displays all their past orders.
overall orders (order number, order date, shipping date) 
individual orders (order number, bot ordered, quantity ordered, order date, ship date, shipping status ) -->
<div class="overlay">
    <div ng-repeat="user in users" ng-if="user.id == userID"class="customerInfo col-md-6" style="color: white; font-weight: bold">
        <p>First Name: {{user.firstName}}</p>
        <p>Last Name: {{user.lastName}}</p>
        <p>Address: {{user.address1}}</p>
        <p>Email: {{user.emailAddress}}</p>


        <table ng-repeat="bot in bots" ng-if="user.id"class="orderTxt pull-right" style="width:50%">
            <tr>
                <th>Order Id</th>
                <th>Bot Ordered</th>
                <th>Order Date</th>
                <th>Shipping Status</th>
            </tr>

            <tr>
                <td>{{bot.id}}</td>
                <td>{{bot.name}}</td>
                <td>{{bot.createdAt | date: 'MM/dd/yyyy'}}</td>
                <td>{{bot.updatedAt | date: 'MM/dd/yyyy'}}</td>
            </tr>
        </table>
    </div>
</div>