<h1 class="text-center homeHero">home page</h1>
<!-- stretch about me accross the top of the pages -->
<div>
    <div class="about col-md-6 col-md-offset-3">
        <h2>
            <strong>About our Company</strong>
        </h2>
        <p>
            <strong>NEEDS TO BE RE WORDED</strong> has accelerated co-creation between companies and has helped create new value.
            But in order to leverage the full potential of IoT, data processing must go beyond cyberspace. New and innovative
            services in the real world will depend on our ability to combine data with physical operations. That’s why robotics
            will play such a crucial role moving forward, as they become our bridge between the real and virtual worlds.
        </p>
        <p>At Hitachi, we’ve developed a wide range of robots for various applications by leveraging our expertise in operational
            technologies (OT). But we’re not developing technologies without reason. We’re implementing social innovation.
            By integrating robots with IoT platforms, and using that technology in social infrastructures, we’re actively
            promoting initiatives to improve people’s lives.
        </p>
    </div>

    <div class="container">
        <div class="video col-md-8 pull-left">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aKCieb-Gf2g?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="about col-md-4 co-md-offset-4">
            <h3>
                <strong>placeholder bot 1</strong>
            </h3>
            <ul class="botPart">
                <h4> Bot parts list</h4>
                <ul>
                    <li>wheel x2</li>
                    <li>wheel mount x2</li>
                    <li>sides x2</li>
                    <li>top x1</li>
                    <li>bottom x1</li>
                    <li>respberry pi 3 b chip x1</li>
                    <li>servos x2</li>
                    <li>ballbearring x1</li>
                    <li>10 pack of long screws x1</li>
                    <li>12 pack of medium screws x1</li>
                    <li>4 pack of short screws x1</li>
                    <li>red wires m/f x3</li>
                    <li>black wires m/f x3</li>
                    <li>white wires m/f x3</li>
                </ul>
            </ul>
        </div>
    </div>
    <div>
        <h1 class="moreBots col-md-12">
            <strong>MORE BOTS TO COME!!!!!</strong>
        </h1>
    </div>
</div>