<div class="container overlay"  style="color: white; font-weight: bold">
    <h1 class="text-center"><strong>Order List</strong></h1>
<table style="width:100%">
  <tr>
      <th>Customer</th>
      <th>Bot Name</th>
      <th>Order Date</th>
      <th>Shipping Date</th>
      <th>Shipping Status</th>
  </tr>
  <tr>
      <td>1</td>
      <td>bot 1</td>
      <td>1</td>
      <td>10/13/17</td>
      <td>10/21/17</td>
  </tr>

  <tr>
      <td>Dooombots</td>
      <td>Orders to date</td>
  </tr>
</table>
</div> 