<div class="content container-fluid overlay" style="color: white; font-weight: bold">
    <div>
        <h1 class="text-center">
            <strong>Sales List</strong>
        </h1>
        <table class="table table-inverse" ng-repeat="sale in sales"style="width:100%">
            <tr>
                <th>Customer ID</th>
                <th>Customer Name</th>
                <th>Order Date</th>
                <th>Quantity</th>
                <th>Shipping Status</th>
            </tr>
            <tr>
                <td ng-click="goToUser(sale.userID)" style="cursor: pointer">{{sale.userID}}</td>
                <td ng-repeat="user in users" ng-if="user.id==sale.userID">{{user.firstName}} {{user.lastName}}</td>
                <td>{{sale.createdAt | date : 'MM/dd/yyyy'}}</td>
                <td>{{sale.qty}}</td>
                <td>{{sale.status}}</td>
            </tr>
        </table>
    </div>

    <div class="toDate">
        <h1 class="text-center">
            <strong>Sales Analytics</strong>
        </h1>
        <table class="table">
            <tr>
                <td>Total Units Sold</td>
                <td>Total Orders</td>
            </tr>
            <tr>
                <td>{{bots.length}}</td>
                <td>{{sales.length}}</td>
            </tr>
        </table>
    </div>

    <hc-chart options="chartOptions">Placeholder for generic chart</hc-chart>
    

</div>