<div class="overlay container-fluid">
    <h1 class="col-md-6 col-md-offset-5" style="color: white">
        <strong style="text-align: center">DooomBot</strong>
    </h1>
    <div class="video col-md-12 text-center">
        <iframe class="col-md-6" width="560" height="315" src="https://www.youtube.com/embed/aKCieb-Gf2g?rel=0" frameborder="0" allowfullscreen></iframe>
        <div class="col-md-6 text-center" style="color: white">
            <h3>
                <strong> Parts included with Doombot</strong>
            </h3>
            <p>wooden frame x1</p>
            <p>contiuous rotation servos x2</p>
            <p>ball caster x1</p>
            <p>usb xbox 360 controller x1</p>
            <p>digital switch x1</p>
            <p>6" male-to-female jumper wires x1</p>
            <p>6" male-to-female wires x1</p>
            <p>screws, nuts, bolts, standoffs x1</p>
            <p>Raspberry Pi 2 Model B x1</p>
        </div>
    </div>
    <div>
        <!-- Trigger the Modal -->
        <img class="myImg" src="./css/images/botpic1.jpg" alt="sumobot picture" width="300" height="200">
        <img class="myImg" src="./css/images/botpic2.jpg" alt="sumobot picture" width="300" height="200">
        <img class="myImg" src="./css/images/botpic3.jpg" alt="sumobot picture" width="300" height="200">
        <img class="myImg" src="./css/images/botpic4.jpg" alt="sumobot picture" width="300" height="200">
    </div>
    <!-- The Modal -->
    <div class="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div class="caption"></div>
    </div>
</div>