<div class="overlay container-fluid">
    <h1 class="col-md-6 col-md-offset-5" style="color: white">
    </h1>
    <div class="video col-md-12 text-center">
        <iframe class="col-md-6" width="560" height="315" src="https://www.youtube.com/embed/aKCieb-Gf2g?rel=0" frameborder="0" allowfullscreen></iframe>
        <div class="col-md-6 text-center" style="color: white">
            <h3>
                <strong>Parts included with Doombot</strong>
            </h3>
            <p>wooden frame x1</p>
            <p>contiuous rotation servos x2</p>
            <p>ball caster x1</p>
            <p>usb xbox 360 controller x1</p>
            <p>digital switch x1</p>
            <p>6" male-to-female jumper wires x1</p>
            <p>6" male-to-female wires x1</p>
            <p>screws, nuts, bolts, standoffs x1</p>
            <p>Raspberry Pi 2 Model B x1</p>
        </div>
    </div>

    <div class="text-center padding-top: 20px; padding-bottom:30px">
        <a>
            <img src="./css/images/botpic1.jpg" style="width: 300px; height: 250px;" alt="top picture of doombot">
        </a>
        <a>
            <img src="./css/images/botpic2.jpg" style="width: 300px; height: 250px;" alt="side picture of doombot">
        </a>
        <a>
            <img src="./css/images/botpic3.jpg" style="width: 300px; height: 250px;" alt="back picture of doombot">
        </a>
        <a>
            <img src="./css/images/botpic4.jpg" style="width: 300px; height: 250px;" alt="picture of chip of doombot">
        </a>
    </div>
</div>

<h1 class="moreBots col-md-12">
    <strong>MORE BOTS TO COME!!!!!</strong>
</h1>
</div>