<div class="overlay container-fluid">
    <h1 class="col-md-6 col-md-offset-5" style="color: white">
    </h1>
    <div class="video col-md-12 text-center">
        <iframe class="col-md-6" width="560" height="315" src="https://www.youtube.com/embed/aKCieb-Gf2g?rel=0" frameborder="0" allowfullscreen></iframe>
        <div class="col-md-6 text-center" style="color: white">
            <h3>
                <strong>Parts included with Doombot</strong>
            </h3>
            <p>wooden frame x1</p>
            <p>contiuous rotation servos x2</p>
            <p>ball caster x1</p>
            <p>usb xbox 360 controller x1</p>
            <p>digital switch x1</p>
            <p>6" male-to-female jumper wires x1</p>
            <p>6" male-to-female wires x1</p>
            <p>screws, nuts, bolts, standoffs x1</p>
            <p>Raspberry Pi 2 Model B x1</p>
        </div>
    </div>
</div>

<div id="Carousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
        <li data-target="#Carousel" data-slide-to="1"></li>
        <li data-target="#Carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="./css/images/botpic1.jpg" class="img-responsive">
        </div>
        <div class="item">
            <img src="./css/images/botpic2.jpg" class="img-responsive">
        </div>
        <div class="item">
            <img src="./css/images/botpic3.jpg" class="img-responsive">
        </div>
    </div>
    <span class="left carousel-control" href="" ng-click="slide('prev')" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </span>
    <span class="right carousel-control" href="" ng-click="slide('next')" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
    </span>
    </div>
    <h1 class="moreBots col-md-12">
        <strong>MORE BOTS TO COME!!!!!</strong>
    </h1>
</div>