<div class="customNav">
    <!-- fix logo location and extra white space -->
    <img class="logo pull-left" src="css/images/robologo.png">

    <ul class="customNavItems navbar-right">
        <li>
            <a ui-sref="app.about">About</a>
        </li>
        <li>
            <!-- ng-if="currentUser != undefined" -->
            <a ui-sref="app.sales">Sales</a>
        </li>
        
        <li>
            <a ng-if="currentUser != undefined" ui-sref="app.account">Account</a>
        </li>
        <li>
            <!-- must add error for if admin is not logged in user is unable to navigate pages -->
            <a  ui-sref="app.login">Login</a>
        </li>
        <li ng-if="currentUser != undefined" ng-click="logout()" >logout</li>
    </ul>
    <div class="col-md-4 col-md-offset-4" >
        <h1 class="company1">Doombot</h1>
        <h3 class="">We are the Future</h3>
    </div>
</div>