<div class="customNav">
    <img class="logo pull-left" src="css/images/dooombotlogo.png">

    <ul class="customNavItems navbar-right">
        <li>
            <a ui-sref="app.about">About</a>
        </li>
        <li>
            <a ng-if="admin == true" ui-sref="app.sales">Sales</a>
        </li>
        <li>
            <a ng-if="currentUser != null" ng-click="viewProfile">Profile</a>
        </li>
        <li>
            <a ui-sref="app.login" ng-if="currentUser == null && admin == false">Login</a>
        </li>
        <li>
            <a ng-click="logout()" ng-if="currentUser != null || admin == true">Logout</a>
        </li>
    </ul>
    <div class="text-center">
        <h3 class="heading">We are the Future</h3>
    </div>
</div>